---
import Chat from '../Chat'
import Update from '../Update'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex flex-col items-center">
		<Update client:load />
		<Chat client:load />
	</body>
</html>
